@charset "utf-8";
/**
 *
 *version------0.0.1
 *author-------crazyz
 *date---------2015-6-24
 */

a{
	text-decoration:none;
	&:hover{
		text-decoration:none;
	}
}
ul{
	margin:0px;
	padding: 0px;
	list-style: none;
}
p,h1,h2,h3,h4,h5{
	margin:0px;
	&::selection{
		background-color:#68DFFB;
	}
}
