@charset "utf-8";
/**
 *
 *version------0.0.1
 *author-------crazyz
 *date---------2015-6-24
 */
@import "normalize","common","mixin","variable";
@import "backtop";

.content{
	h3{
		font: 18px/2 $font-family;
		font-weight: bold;
	}
	p{
		font: 12px/2 $font-family;
	}
	section{
	resize: both;
	margin: 10px auto;
		h1{
			color: #759b08;
			font: 22px $font-family;
		}
	}
}